# IntelliJ
/src/SandBox
out/
.idea/
.idea_modules/

# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear
*.zip
*.tar.gz
*.rar
*.iml

# CMake
cmake-build-debug/

## File-based project format:
*.iws

# JIRA plugin
atlassian-ide-plugin.xml
